@charset "UTF-8";

@font-face {
    font-family: 'Oswald';
    src: url(../fontes/Oswald-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fontes/BebasNeue-Regular.ttf) format(truetype);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a5a1a1b4;
}

:root{
    --azul-claro: #4FC3F7;
    --branco: rgb(248, 237, 237);
    --cinza-claro: lightgray;
    --azul-petroleo: #0277BD;
    --cinza-escuro: #333333;

    --fonte-titulo: 'Bebas Neue';
    --fonte-subtitulo: 'Oswald';
}

header{
    background-image: linear-gradient(to bottom, var(--azul-claro), var(--azul-petroleo));
    padding: 20px;
    margin-top: -9px;
    margin-right: -9px;
    margin-left: -9px;
}

header h1{
    color: var(--branco);
    font-family: 'Bebas Neue';
    font-size: 4.5em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.582);
}

nav{
    background-color: var(--azul-petroleo);
    color: var(--branco);
    padding: 1px;
    margin-top: -9px;
    margin-right: -9px;
    margin-left: -9px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.514);
}

nav h1{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
    font-style: italic;
    font-family: 'Oswald';
    font-size: 2em;
}

main{
    min-height: 400px;
    max-height: 2300px;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

article.artigo1{
    
}

article.artigo2 {
    margin-bottom: 50px;
}

article.artigo2 > h2{
    padding-top: 50px;
    text-align: center;
}

article h2{
    font-size: 2em;
}

article h3{
    color: var(--cinza-escuro);
    font-size: 1.5em;
    padding-top: 15px;
}

article p{
    line-height: 2em;
    font-size: 17px;
    color: var(--cinza-escuro);
}

div#agua{

}

section#box{
    background-color: var(--branco);
    list-style-position: inside;
    text-align: center;
    font-weight: bold;

    margin: 50px -9px 50px -9px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.521);
}

section#box > h2{
    font-family: var(--fonte-subtitulo);
    font-size: 2.5em;
}

section.tabela{
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    width: 800px;
    margin: 40px auto 15px auto;
}

caption{
    font-family: 'Oswald';
    font-size: 2em;
    margin-bottom: 3px;
}

thead > tr > th{
    background-color: var(--azul-claro);
}

tbody > tr:nth-child(even) {
    background-color: var(--cinza-claro);
}

td, th{
    border: 2px solid var(--azul-petroleo);
    padding: 10px;
    text-align: center;
}

footer{
    background-color: #4FC3F7;
    height: 406px;
    margin: 45px -9px -20px -9px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
}

footer > section{
    display: inline-block;
    height: 150px;
    margin-top: 20px;
    padding: 0px 30px 0px 30px;
}

footer > section#espaço-esquerdo{
    margin-left: 240px;
}

footer > section#borda{
    border-right: 2px solid var(--cinza-claro);
    border-left: 2px solid var(--cinza-claro);
}

footer > section#border-right{
    border-right: 2px solid var(--cinza-claro);
}

footer section#credito{
    display: block;
    border: none;
    text-align: center;
    padding-top: 40px;
    margin-left: 0px;
}

footer > section#credito > p#cr {
    font-family: 'Oswald';
    font-size: 1.4em;
    font-weight: bold;
}

footer > section > p.content{
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
}

footer > section > p.rodape{
    color: var(--cinza-escuro);
    font-weight: bold;
}

footer > section > button{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.329);
}

footer > section > button#centro{
    margin-left: 70px;
}

footer a {
    text-decoration: none;
    color: var(--azul-petroleo);
}

footer > section > button > a{
    color: var(--azul-petroleo);
}

footer > section > button:hover{
    background-color: #a7d0e6;
    transition-duration: 0.7s;
}