@charset "UTF-8";

@font-face {
    font-family: 'Oswald';
    src: url(../fontes/Oswald-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fontes/BebasNeue-Regular.ttf) format(truetype);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../imagem/image-from-rawpixel-id-3864364-original\ -\ Copia.jpg) center center no-repeat fixed;
    background-size: cover;
}

:root{
    --preto: rgba(0, 0, 0, 0.466);
    --branco: rgb(248, 237, 237);
    --cinza-claro: rgb(175, 174, 174);
    --azul-claro: #4FC3F7;
    --azul-petroleo: #0277BD;

    --fonte-titulo: 'Bebas Neue';
    --fonte-subtitulo: 'Oswald';
}

header{
    padding: 20px;
    margin-top: -9px;
    margin-right: -9px;
    margin-left: -9px;
}

header h1{
    color: var(--branco);
    font-family: 'Bebas Neue';
    font-size: 4.5em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px -2px 0px rgba(0, 0, 0, 0.582);
}

nav{
    color: var(--branco);
    padding: 1px;
    margin-top: -9px;
    margin-right: -9px;
    margin-left: -9px;
}

nav h1{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
    font-style: italic;
    font-family: 'Oswald';
    font-size: 2.3em;
}

main{
    width: 96vw;
    min-height: 400px;
    max-height: 2825px;
    margin-left: -9px;
    margin-right: -9px;
    padding: 27px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

article.artigo1{
    color: var(--branco);
    border-radius: 10px;
}

article.artigo1 > h2 {
    background-image: linear-gradient(to right, var(--azul-claro), #006B73);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
    border-top-left-radius: 25px;
    padding: 5px 30px 5px 30px;
    margin-right: 700px;
    font-size: 2em;
}

article.artigo1 > section {
    background-color: var(--preto);
    text-align: center;
    padding-bottom: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

article.artigo2 {
    background-image: url();
    margin-bottom: 50px;
}

article.artigo2 > h2{
    font-family: var(--fonte-subtitulo);
    font-size: 2.5em;
    text-align: center;
    color: var(--branco);
    text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.582);
    padding-top: 50px;
}

article h3{
    font-size: 1.5em;
    padding-top: 15px;
}

article p{
    line-height: 2em;
    font-size: 17px;
}

section#box{
    background-color: var(--branco);
    list-style-position: inside;
    text-align: center;
    font-weight: bold;

    margin: 200px 400px 200px 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.521);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

section#box > h2{
    font-family: var(--fonte-subtitulo);
    font-size: 2.5em;
}

section#box:hover {
    transform: translate(-3%, -3%);
    transition: transform .7s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

section.tabela{
    overflow-x: auto;
    margin: 50px 400px 50px 400px;
}

table{
    border-collapse: collapse;
    width: 700px;
    padding: 20px;
    margin: 40px auto 40px auto;
}

caption{
    font-family: 'Oswald';
    font-size: 2em;
    margin-bottom: 3px;
}

thead > tr > th{
    background-color: var(--azul-claro);
}

tbody > tr:nth-child(even) {
    background-color: var(--cinza-claro);
}

tbody > tr:nth-child(odd) {
    background-color: var(--branco);
}

td, th{
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--azul-petroleo);
    padding: 10px;
}

footer{
    background-color: #4FC3F7;
    min-width: 1000px;
    max-width: 2000px;
    height: 406px;
    margin: 45px -9px -20px -9px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
}

footer > section{
    display: inline-block;
    height: 150px;
    margin-top: 20px;
    padding: 0px 30px 0px 30px;
}

footer > section#espaço-esquerdo{
    margin-left: 240px;
}

footer > section#borda{
    border-right: 2px solid var(--cinza-claro);
    border-left: 2px solid var(--cinza-claro);
}

footer > section#border-right{
    border-right: 2px solid var(--cinza-claro);
}


footer > section > p.content{
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
}

footer > section > p.rodape{
    color: var(--cinza-escuro);
    font-weight: bold;
}

footer > section > button{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.329);
}

footer > section > button#centro{
    margin-left: 70px;
}

footer a {
    text-decoration: none;
    color: var(--azul-petroleo);
}

footer > section > button > a{
    color: var(--azul-petroleo);
}

footer > section > button:hover{
    background-color: #a7d0e6;
    transition-duration: 0.7s;
    transform: translate(-3%, -3%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

footer section#credito{
    display: block;
    border: none;
    text-align: center;
    padding-top: 40px;
    margin-left: 0px;
}

footer > section#credito > p#cr {
    font-family: 'Oswald';
    font-size: 1.4em;
    font-weight: bold;
}

footer > section#credito > p#cr > a:hover {
    text-decoration: underline;
}